[submodule "cartographer_ros"]
	path = cartographer_ros
	url = https://github.com/Roboy/cartographer_ros.git
	branch = adv2
[submodule "livox_ros_driver"]
	path = livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
