[submodule "cartographer_ros"]
	path = cartographer_ros
	url = https://github.com/Roboy/cartographer_ros.git
	branch = adv2
[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "common_utilities"]
	path = common_utilities
	url = https://github.com/Roboy/common_utilities.git
