<robot name="roboyRickshaw3d">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="livox_frame">
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="imu">
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="base_link" />
  

  <joint name="laser_joint" type="fixed">
    <parent link="imu" />
    <child link="livox_frame" />
    <origin xyz="0.19675 0.0 0.0402"/>
  </joint>

  
<!--
  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="livox_frame" />
    <origin xyz="0.021 0.0 1.5567" rpy="0 0 0"/>
  </joint>
-->

  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu" />
    <origin xyz="0 0 0"/>
  </joint>

</robot>
