<launch>

  <arg name="record_lidar" default="true" doc="bool, whether or not to record lidar data"/>
  <arg name="record_imu" default="true" doc="bool, whether or not to record imu data"/>s
  <arg name="dir" default="!" doc="directory and filename where the bag file should be saved (add .bag extension!)"/>

  <!--evaluate some arguments-->
  <arg name="lidar" value="$(eval '/livox/lidar' if arg('record_lidar') else '')"/>
  <arg name="imu" value="$(eval '/imu /imu_data' if arg('record_imu') else '')"/>
  <arg name="filename" value="$(eval '$(env HOME)/default_name.bag' if arg('dir')=='!' else arg('dir'))" />
  <arg name="filename_resolved" value="-O $(arg filename)"/>

  <!--record sensor data-->
  <node pkg="rosbag" type="record" name="rosbag_record_sensors"
        args="$(arg filename_resolved) $(arg imu) $(arg lidar) /rosout" />
  
  <!-- repair time stamps-->
  <include file="$(find roboy_ad)/launch/data_processing.launch">
    <arg name="bag_file" value="$(arg filename)" />
    <arg name="ref_topic" value="/livox/lidar" />
    <arg name="is_recording" value="true" />
  </include>


</launch>
