<!--
Launch the navigation stack to run on a map obtained from the lidar.
-->
<launch>
  <arg name="nav_map_config"
       default="$(find roboy_navigation)/config/mv_map.yaml"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
	output="screen">
    <rosparam file="$(find roboy_navigation)/config/base_local_planner.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/astar_planner.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/global_costmap.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/local_costmap.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/common_costmap.yaml"
              command="load" ns="global_costmap"/>
    <rosparam file="$(find roboy_navigation)/config/common_costmap.yaml"
              command="load" ns="local_costmap"/>
    <param name="base_local_planner"
           value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="base_global_planner" value="astar_planner::AStarPlanner"/>
    <!--<param name="base_global_planner" value="global_planner/GlobalPlanner"/>-->
  </node>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find roboy_navigation)/nav.rviz" />

</launch>
