<!--
Launch the navigation stack to run on a static map published by map server.
-->
<launch>
  <arg name="map_config"
       default="$(find roboy_navigation)/config/mv_map_cut.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(arg map_config)" output="screen"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base"
        output="screen">

    <rosparam file="$(find roboy_navigation)/config/base_local_planner.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/astar_planner.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/global_costmap.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/local_costmap.yaml"
              command="load"/>
    <rosparam file="$(find roboy_navigation)/config/common_costmap.yaml"
              command="load" ns="global_costmap"/>
    <rosparam file="$(find roboy_navigation)/config/common_costmap.yaml"
              command="load" ns="local_costmap"/>
    <param name="base_local_planner"
           value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="base_global_planner" value="astar_ackermann_planner::AStarAckermannPlanner"/>
  </node>
  <node pkg="roboy_navigation" type="tf_to_odom.py" respawn="false"
        name="fake_odom" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find roboy_navigation)/nav.rviz"/>

</launch>
